body, html {

	margin: 0;
	padding: 0;
	font-family: 'Anaheim', sans-serif;

}

#body-container {
	width: 100%;
	margin:0;
	padding: 0;

}

.banner {
  position: relative;
  overflow: auto;
  min-width:100%;
}
 
.button {
  margin:25px auto;
  text-align:center;
  background:#fff;
  color:##B8B8B8;
  padding:10px;
  width:120px;
  border-radius:5px;
  opacity:0.9;

 
}
 
.button:hover {
  opacity:1;

}
 
.banner ul {
  padding:0;
  margin:0;
}
 
.banner li {
 
  list-style: none;
 
 
}
 
.banner ul li {
 
  float: left;
  display:block;
  padding:300px 0 300px 0;
 
 
}
 
.banner li:first-child {
 
  background-image:url("http://4.bp.blogspot.com/-M6ZaEtEDAx4/UJAigCMiz9I/AAAAAAAAOmQ/C-oiQ4t5PTw/s1600/IMG_2056.JPG");

 
}

.banner li:nth-child(2) {
 
  background-image:url("http://spinbikesandopaquetights.files.wordpress.com/2013/09/beauty-and-health-tips.jpg");
}
 
 
.banner li:last-child {
 
  background-image:url("http://www.nyewall.com/images/2013/05/space-wallpaper-hd-nature-wallpapers.jpg");

}
 
 
.banner h1 {

    font-size: 40px;
    font-weight: 500;
    color:#ff0099;
    text-align: center;
    margin-bottom:18.72px;
}

.banner h3 {
 
  display:block;
  color:#252525;
  text-align:center;
  margin:18.72px;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
 
}


a:link {

	text-decoration: none;
	font-family:'Anaheim', sans-serif;
	color: #ff0099;
	font-weight:200;

}


a:visited {
	color: #ff0099;

}

nav a:hover {
	color:#000;
  border-bottom: 2.5px solid #ff0099;

}

nav a.active {
	color:#000;
  border-bottom: 2.5px solid #ff0099;

}


.mainHeader img {
	padding: 7.5px 40px;
	float: left;


}

nav {
	top:0;
	margin:0;
	position: fixed;
	display: block;
	background-color: #fff;
	width: 100%;
	opacity:0.9;
	-webkit-animation: slidein 1.5s;
}
@keyframes slidein {
  from {
    top: -60px;
  }

  to {
    top: 0;
  }
}

@-webkit-keyframes slidein {
  from {
 
    top: -60px;
  }

  to {

    top: 0;
  }
}

.mainHeader ul {
	float: right;
	padding-right: 40px;
  margin:0;
  line-height: 60px;

	
}

.mainHeader li {
	list-style: none;
	display: inline-block;
  height: 60px;
  padding:0 20px;

}

.brands {
	background: #fff;
  width: 100%;
	margin:0 auto;
  display: table;

}

.brands a {
  display: table-cell;
  text-align: center;
}

.brands a img {
  max-width: 100%;
  width: auto;
  margin: 45px 0;
}



.promo {
	width: 100%;
	height:700px;
	background-color: #CCFFCC;
}

.inner-promo-container {
	width: 60%;
	margin: 0 auto;

}

.inner-promo-container h3 {
	font-weight: 200;
	font-family:'Anaheim', sans-serif;
	font-size: 2em;
	text-align: center;
	margin:0 auto;
	padding:4% 0 2% 0;

}

.info {
	text-align: center;
	font-family: 'Anaheim', sans-serif;
	margin:0 auto;
	color: #505050;

}

.signup {
  background:#ff0099;
  color: #fff;
}

.catalogues {
	width: 60%;
  display: block;
  margin: 0 auto;

}


.catalogues img {
  display: inline-block;
	width: 250px;
	height: 350px;
	margin: 75px 80px 0px 80px;
  padding-bottom: 0 0 0 4%;
  opacity: 1;

}

.catalogues img:hover {
  opacity: 0.7;
}

.social-media {
	width: 100%;
	height:780px;
	background-color: #fff;
}

.media-info {
	margin: 0 auto;
	width: 60%
}


.media-info h3 {
	font-weight: 200;
	font-family:'Anaheim', sans-serif;
	font-size: 2em;
	text-align: center;
	margin:0 auto;
	padding:4% 0 2% 0;
}

.inner-logo {
	width: 60%;
	margin:0 auto;
}


.iphone5s {
	margin: 0 auto;
	width:60%;

	
}

.iphone {
	overflow: auto;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	padding-top:10%;
	
}

.education {
	background-color: #f9f9f9;
	width: 100%;
	height: 780px;
}

.opportunities {
	background-color: #d62323;
	width: 100%;
	height: 750px;
	display: inline-block;
}

.opportunities-info {
	margin: 0 auto;
	width: 60%;
}

span .tagline {
  font-family:'Anaheim', sans-serif;
  line-height: 40px;
  font-size: 1.75em;
  color: #FFFF00;
  text-align: center;
  padding:5px;


}

.opportunities h3 {
	font-weight: 200;
	font-family:'Anaheim', sans-serif;
	font-size: 2em;
	text-align: center;
	margin:0 auto;
	padding:4% 0 0 0;

}

.opportunities-info h4 {
	font-family:'Anaheim', sans-serif;
  color:#000;
	font-size: 1.60em;
	text-align: left;
	margin:0 auto;
	padding:4% 0 2% 0;
}

.opportunities-info span {
  color: steelblue;
}

.opportunities-info .info {
  text-align: left;
  color: #fff;
}

.jobs a {
  color:#0099FF;
}

.jobs a:hover {
  text-decoration: underline;
}








.job-responsibilities li {
	list-style-type: circle;
	font-family:'Anaheim', sans-serif;
	list-style-position: left;
	color: #fff;
}


.email-to a {
	color: #FFFF00;

}

.email-to a:hover {
	text-decoration: underline;
}

#contact-page-form {
	padding: 2em 3%;
	background-color: #fff;

}

.container .clearfix {
	position: relative;
	margin: 0 auto;
}

.clearfix {
	zoom:1;
}

.group {
	display: inline;
	text-align: center;
}

.contact-form-wrap h2 {
	font-family:'Anaheim', sans-serif;
  font-weight: 200;
	text-align: center;
}

.contact-name .contact-email .salon-name .business-address .city .postal-code {
	margin: 0 0 1.7em;

}


input, input [type="text"] {
  width: 40em;
  padding:1.5em;
  border: none;
  background-color:#B8B8B8;
	color: #fff;
  font-family:'Anaheim', sans-serif;
  font-size: 0.8em;
  font-weight: 500;

}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

input:focus {
  outline-color:#ff0099;

}


input[type="submit"],
input[type="reset"]
 
 {
  width:150px;
  outline:none;
  background:#ff0099;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  opacity: 0.7;
}

input[type="submit"]:hover {
  opacity: 1;
}

input[type="reset"]:hover {
  opacity: 1;
}



.master-footer {
	background-color: #252525;
	padding:5em 0;
	display: inline-block;
	width: 100%;
}

.footer-container {
	margin: 0 auto;
	width: 85%;
	height: 4em;
}

.order-now {
	float: right;
	text-align: right;
	padding:8px 0;
	font-family:'Anaheim', sans-serif; 
	color: #fff;
}

.detail {
	padding-right: 5px;
}


.social-icon {
	float: left;
	padding-top:8px;
	padding-right: 8px;
	padding-bottom: 8px;
  opacity: 0.7;

}

.social-icon:hover {
  opacity: 1;
}




a.number {
	font-family:'Anaheim', sans-serif;
	color: #ff0099;

}

a.number:hover {
	text-decoration: underline;
}











































